-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: school_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_users`
--

DROP TABLE IF EXISTS `admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_users` (
  `admin_id` varchar(20) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `role` varchar(50) DEFAULT NULL,
  `security_password` varchar(255) NOT NULL,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`admin_id`),
  KEY `fk_admin_school` (`school_id`),
  CONSTRAINT `fk_admin_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `contact_messages`
--

DROP TABLE IF EXISTS `contact_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact_messages` (
  `message_id` int NOT NULL AUTO_INCREMENT,
  `thread_id` int NOT NULL,
  `sender_role` varchar(20) NOT NULL,
  `sender_id` varchar(20) NOT NULL,
  `body` text NOT NULL,
  `sent_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`message_id`),
  KEY `thread_id` (`thread_id`),
  CONSTRAINT `contact_messages_ibfk_1` FOREIGN KEY (`thread_id`) REFERENCES `contact_threads` (`thread_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `contact_threads`
--

DROP TABLE IF EXISTS `contact_threads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact_threads` (
  `thread_id` int NOT NULL AUTO_INCREMENT,
  `teacher_id` varchar(20) NOT NULL,
  `recipient_role` varchar(50) NOT NULL,
  `category` varchar(50) NOT NULL,
  `subject` varchar(150) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'Open',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `school_id` int DEFAULT NULL,
  `last_read_at` datetime DEFAULT NULL,
  PRIMARY KEY (`thread_id`),
  KEY `fk_thread_school` (`school_id`),
  CONSTRAINT `fk_thread_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `marks`
--

DROP TABLE IF EXISTS `marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marks` (
  `mark_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(50) DEFAULT NULL,
  `subject_id` int DEFAULT NULL,
  `term` varchar(20) DEFAULT NULL,
  `score` decimal(5,2) DEFAULT NULL,
  `date_uploaded` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `type` varchar(30) NOT NULL,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`mark_id`),
  KEY `student_id` (`student_id`),
  KEY `subject_id` (`subject_id`),
  KEY `fk_marks_school` (`school_id`),
  CONSTRAINT `fk_marks_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`),
  CONSTRAINT `marks_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE,
  CONSTRAINT `marks_ibfk_2` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`)
) ENGINE=InnoDB AUTO_INCREMENT=471 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pushed_marks_reports`
--

DROP TABLE IF EXISTS `pushed_marks_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pushed_marks_reports` (
  `push_id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `class_level` int NOT NULL,
  `section` varchar(10) NOT NULL,
  `stream` varchar(50) NOT NULL,
  `term` varchar(20) NOT NULL,
  `pushed_by` varchar(50) NOT NULL,
  `total_subjects` int NOT NULL,
  `pushed_subjects` int NOT NULL,
  `pushed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`push_id`),
  UNIQUE KEY `uniq_marks_push_per_section_term` (`school_id`,`class_level`,`section`,`stream`,`term`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pushed_report_scores`
--

DROP TABLE IF EXISTS `pushed_report_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pushed_report_scores` (
  `push_id` int NOT NULL,
  `student_id` varchar(20) NOT NULL,
  `total_score` decimal(6,2) NOT NULL,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`push_id`,`student_id`),
  CONSTRAINT `pushed_report_scores_ibfk_1` FOREIGN KEY (`push_id`) REFERENCES `pushed_reports` (`push_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pushed_reports`
--

DROP TABLE IF EXISTS `pushed_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pushed_reports` (
  `push_id` int NOT NULL AUTO_INCREMENT,
  `subject_id` int NOT NULL,
  `class_level` int NOT NULL,
  `section` varchar(5) NOT NULL,
  `stream` varchar(50) NOT NULL,
  `term` varchar(20) NOT NULL,
  `pushed_by` varchar(20) NOT NULL,
  `pushed_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`push_id`),
  UNIQUE KEY `unique_push` (`subject_id`,`class_level`,`section`,`stream`,`term`),
  KEY `idx_pushed_reports_school_id` (`school_id`),
  CONSTRAINT `fk_report_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pushed_textbook_reports`
--

DROP TABLE IF EXISTS `pushed_textbook_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pushed_textbook_reports` (
  `push_id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `class_level` int NOT NULL,
  `section` varchar(10) NOT NULL,
  `stream` varchar(50) NOT NULL,
  `school_year` varchar(9) NOT NULL,
  `pushed_by` varchar(50) NOT NULL,
  `total_slots` int NOT NULL,
  `returned_count` int NOT NULL,
  `lost_count` int NOT NULL,
  `outstanding_count` int NOT NULL,
  `pushed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`push_id`),
  UNIQUE KEY `uniq_push_per_section_year` (`school_id`,`class_level`,`section`,`stream`,`school_year`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `school_gallery`
--

DROP TABLE IF EXISTS `school_gallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_gallery` (
  `photo_id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `image_url` varchar(255) NOT NULL,
  `caption` varchar(255) DEFAULT NULL,
  `posted_by` int NOT NULL,
  `posted_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`photo_id`),
  KEY `idx_school_gallery_school_id` (`school_id`),
  CONSTRAINT `fk_school_gallery_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `school_settings`
--

DROP TABLE IF EXISTS `school_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_settings` (
  `setting_key` varchar(50) NOT NULL,
  `setting_value` varchar(100) NOT NULL,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`setting_key`),
  KEY `fk_settings_school` (`school_id`),
  CONSTRAINT `fk_settings_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `schools`
--

DROP TABLE IF EXISTS `schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schools` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_name` varchar(255) NOT NULL,
  `region` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `school_prefix` varchar(10) NOT NULL DEFAULT '',
  `zone` varchar(100) DEFAULT NULL,
  `woreda` varchar(100) DEFAULT NULL,
  `moe_school_code` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `student_attendance`
--

DROP TABLE IF EXISTS `student_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_attendance` (
  `attendance_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(50) NOT NULL,
  `school_id` int NOT NULL,
  `attendance_date` date NOT NULL,
  `status` enum('present','absent') NOT NULL DEFAULT 'present',
  `marked_by` varchar(50) NOT NULL,
  `marked_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`attendance_id`),
  UNIQUE KEY `uniq_student_day` (`student_id`,`attendance_date`),
  KEY `idx_school_date` (`school_id`,`attendance_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `student_enrollment_history`
--

DROP TABLE IF EXISTS `student_enrollment_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_enrollment_history` (
  `enrollment_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(50) NOT NULL,
  `school_id` int NOT NULL,
  `class_level` int NOT NULL,
  `section` varchar(10) NOT NULL,
  `stream` varchar(50) NOT NULL,
  `term` varchar(20) NOT NULL,
  `recorded_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`enrollment_id`),
  UNIQUE KEY `uniq_student_class_term` (`student_id`,`class_level`,`term`),
  KEY `idx_school_class` (`school_id`,`class_level`,`section`,`stream`,`term`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `student_notifications`
--

DROP TABLE IF EXISTS `student_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_notifications` (
  `notif_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `school_id` int NOT NULL,
  `sent_by` varchar(50) NOT NULL,
  `assessment_type` varchar(50) NOT NULL,
  `message` text NOT NULL,
  `section` varchar(10) NOT NULL,
  `class_level` int NOT NULL,
  `stream` varchar(50) NOT NULL,
  `sent_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `read_at` datetime DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`notif_id`),
  KEY `idx_student` (`student_id`,`school_id`)
) ENGINE=InnoDB AUTO_INCREMENT=406 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `student_id` varchar(50) NOT NULL,
  `school_name` varchar(100) DEFAULT 'NEWLAND HIGH SCHOOL',
  `first_name` varchar(50) NOT NULL,
  `middle_name` varchar(50) DEFAULT NULL,
  `last_name` varchar(50) NOT NULL,
  `sex` enum('Male','Female') NOT NULL,
  `class_level` int NOT NULL,
  `stream` varchar(50) DEFAULT 'General',
  `section` varchar(5) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `fayda_number` varchar(16) DEFAULT NULL,
  `status` enum('Active','Alumni','Pending') DEFAULT 'Active',
  `lms_username` varchar(50) DEFAULT NULL,
  `email_address` varchar(100) DEFAULT NULL,
  `assigned_computer` varchar(20) DEFAULT NULL,
  `security_password` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `school_id` int DEFAULT NULL,
  `profile_photo_url` varchar(255) DEFAULT NULL,
  `id_photo_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`student_id`),
  KEY `fk_student_school` (`school_id`),
  CONSTRAINT `fk_student_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subjects` (
  `subject_id` int NOT NULL AUTO_INCREMENT,
  `subject_name` varchar(100) NOT NULL,
  `stream` varchar(50) NOT NULL,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`subject_id`),
  KEY `fk_subject_school` (`school_id`),
  CONSTRAINT `fk_subject_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `support_tickets`
--

DROP TABLE IF EXISTS `support_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_tickets` (
  `ticket_id` int NOT NULL AUTO_INCREMENT,
  `teacher_id` varchar(50) DEFAULT NULL,
  `message` text,
  `ticket_type` enum('Leave Request','Complaint') DEFAULT NULL,
  `status` enum('Pending','Resolved') DEFAULT 'Pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`ticket_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `teacher_assignments`
--

DROP TABLE IF EXISTS `teacher_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_assignments` (
  `assignment_id` int NOT NULL AUTO_INCREMENT,
  `teacher_id` varchar(50) DEFAULT NULL,
  `subject_id` int DEFAULT NULL,
  `class_level` int DEFAULT NULL,
  `section` varchar(5) DEFAULT NULL,
  `stream` varchar(50) DEFAULT NULL,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`assignment_id`),
  KEY `subject_id` (`subject_id`),
  KEY `fk_assignment_school` (`school_id`),
  CONSTRAINT `fk_assignment_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`),
  CONSTRAINT `teacher_assignments_ibfk_1` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `teacher_attendance`
--

DROP TABLE IF EXISTS `teacher_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_attendance` (
  `attendance_id` int NOT NULL AUTO_INCREMENT,
  `teacher_id` varchar(50) NOT NULL,
  `school_id` int NOT NULL,
  `attendance_date` date NOT NULL,
  `status` enum('present','absent') NOT NULL DEFAULT 'present',
  `marked_by` varchar(50) NOT NULL,
  `marked_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`attendance_id`),
  UNIQUE KEY `uniq_teacher_day` (`teacher_id`,`attendance_date`),
  KEY `idx_school_date` (`school_id`,`attendance_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `teachers`
--

DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teachers` (
  `teacher_id` varchar(50) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `profile_pic_url` varchar(255) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `notify_reg` tinyint(1) DEFAULT '1',
  `notify_deadlines` tinyint(1) DEFAULT '1',
  `notify_maint` tinyint(1) DEFAULT '1',
  `stream` varchar(50) DEFAULT NULL,
  `security_password` varchar(255) DEFAULT NULL,
  `avatar_url` varchar(255) DEFAULT NULL,
  `homeroom_class_level` int DEFAULT NULL,
  `homeroom_section` varchar(5) DEFAULT NULL,
  `homeroom_stream` varchar(50) DEFAULT NULL,
  `school_id` int DEFAULT NULL,
  `additional_role` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`teacher_id`),
  KEY `fk_teacher_school` (`school_id`),
  CONSTRAINT `fk_teacher_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `teaching_reassignments`
--

DROP TABLE IF EXISTS `teaching_reassignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teaching_reassignments` (
  `reassignment_id` int NOT NULL AUTO_INCREMENT,
  `original_teacher_id` varchar(20) NOT NULL,
  `delegate_teacher_id` varchar(20) NOT NULL,
  `subject_id` int NOT NULL,
  `class_level` int NOT NULL,
  `section` varchar(5) NOT NULL,
  `stream` varchar(50) NOT NULL,
  `school_id` int NOT NULL,
  `term` varchar(20) NOT NULL,
  `reassigned_by` varchar(20) NOT NULL,
  `reassigned_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`reassignment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `textbook_distributions`
--

DROP TABLE IF EXISTS `textbook_distributions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `textbook_distributions` (
  `distribution_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `subject_id` int NOT NULL,
  `issued_by` varchar(20) NOT NULL,
  `issued_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` enum('issued','returned','lost') NOT NULL DEFAULT 'issued',
  `returned_at` datetime DEFAULT NULL,
  `lost_at` datetime DEFAULT NULL,
  `lost_reported_by` varchar(50) DEFAULT NULL,
  `school_year` varchar(20) NOT NULL,
  `school_id` int DEFAULT NULL,
  PRIMARY KEY (`distribution_id`),
  UNIQUE KEY `one_per_student_subject_year` (`student_id`,`subject_id`,`school_year`),
  KEY `fk_textbook_school` (`school_id`),
  CONSTRAINT `fk_textbook_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-11 14:06:25
